form.search-city {

  width:100%;

  label {
    display: block;
  }

  h3.AddCity{
    font-weight:bold;
    margin-top:20px;
    display: block;
    font-size: 1.4em;
    text-align: center;
  }

  input {
    width:100%;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  
    ul.list-group {
      margin-bottom:50px;
      padding-bottom:20px;
      li {
        font-size:1.2em;
        font-weight: bold;
        background: #91E5FA;
        color:black;
        cursor: pointer;
        span.badge-primary {
          background-color: #1C72DD;
        }
      }
    }
  }  