.arrow-right {
  cursor: pointer;
    height: 80px;
    right: 0;
    position: absolute;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .1s;
    width: 60px;
}

.apexcharts-tooltip, .apexcharts-tooltip apexcharts-theme-light {
  display:none;
}
.arrow-left {
  cursor: pointer;
    height: 80px;
    left: 0;
    position: absolute;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .1s;
    width: 60px;
}


.arrow-top, .arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.arrow-top:after, .arrow-bottom:after {
  background-color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}
.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}
.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}
.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}
.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}
.arrow-right:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}
.arrow-right:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}
.arrow-right:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}

